        *{font-family:'Open Sans',sans-serif;}        
        a,a:hover,a:visited,a:link{text-decoration:none;color:black;}
        
        tr,th,td {border:2px solid black;text-align: center;margin:0px;}
         table{border-collapse: collapse;margin:0px;}
        .A3,.A4,.A{background-color: #40B4F6;}
        .B3,.B4,.B{background-color: #F19345;}
        .C3,.C4,.C{background-color: #51FFF0;}
        .D3,.D4,.D{background-color: #2AE783;}
        .E3,.E4,.E{background-color: #91CCC0;}
        .F3,.F4,.F{background-color: #B1FFF1;}
        .G3,.G4,.G{background-color: #F0DDD0;}
        .I3,.I4,.H{background-color: #FF2AAA;}
        .L1{background-color: #40B4F6;padding-left:15px;padding-right:15px;}
        .L2{background-color: #F19345;padding-left:15px;padding-right:15px;}
        .L3{background-color: #51FFF0;padding-left:15px;padding-right:15px;}
        .L4{background-color: #2AE783;padding-left:15px;padding-right:15px;}
        .L5{background-color: #91CCC0;padding-left:15px;padding-right:15px;}
        .L6{background-color: #B1FFF1;padding-left:15px;padding-right:15px;}
        .L7{background-color: #F0DDD0;padding-left:15px;padding-right:15px;}
        .L8{background-color: #A1FFA0;padding-left:15px;padding-right:15px;}
        .L9{background-color: #C59F7F;padding-left:15px;padding-right:15px;}
        
        .jumbotron{background-color:#00F4F4;color:;text-align: center;font-family:sans-serif;
        	background-image:radial-gradient(#00F4F4,#119191);}
         .small{width:15%;height:15%;}
          #clist {font-size:16px;}
  		  
         option {text-align:center;}
         tr,td,th{font-size:20px;border:2px solid purple;}
         .small{width:15%;height:15%;}
         .tt{border:17px solid green;border-radius: 15px;margin:auto;padding:0px;width:70%;overflow:auto;}
         .mdl-navigation{color:black;}
         #headl{color:white;font-size:22px;}

         
        
        
        